# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_B0B_CLAVERT_LEFT
    def_bool $(shields_list_contains,b0b_clavert_left)

config SHIELD_B0B_CLAVERT_RIGHT
    def_bool $(shields_list_contains,b0b_clavert_right)
